@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Default light mode styles */
body {
  background-color: white;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Dark mode styles when <html class="dark"> is active */
html.dark body {
  background-color: rgb(17, 24, 39); /* Tailwind gray-900 */
  color: white;
}

html.dark .dropdown {
  background-color: #1f2937; /* Tailwind gray-800 */
}
html.dark .dropdown button {
  color: white;
}

/* Default (light mode) styles */
.menu-bar {
  background-color: #1f2937; /* Tailwind gray-800 */
}

.menu-bar-text {
  color: white;
}

/* Dark mode styles */
html.dark .menu-bar {
  background-color: white;
}

html.dark .menu-bar-text {
  color: black;
}

.menu-bar {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.menu-bar-text {
  transition: color 0.3s ease;
}

/* Make scrollbar thin and dark */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}

/* Firefox support */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.6) transparent;
}
